
    <nav class="navbar navbar-expand-lg my-1">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
          <div class="navbar-nav me-auto  ">
            <h2 class="nav-item me-4 ">              
              <a class="nav-link active fa fa-code git" style= "font-weight: 700;" aria-current="page"  routerLink="/home"><span style ="font-family: roboto;"> ErNamrata31</span></a>
            </h2>           
          </div>
          
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active" ><i class="fa fa-home mx-1"></i>Home</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link " routerLink="/about-us"><i class="fa fa-user mx-1"></i>About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/skills"><i class="fa fa-cogs mx-1"></i>Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/projects"><i class="fa fa-cubes mx-1"></i>Projects</a>
            </li>
            
           
          </ul>
        </div>
      </div>
      
    </nav>
    <hr class="my-0">
