# Node dependencies
/node_modules/

# Build outputs
/dist/
/out-tsc/
tmp/

# Angular CLI files
/.angular/
/.angular/cache/

# Environment files
/.env

# IDE and editor files
/.idea/
/.vscode/
*.iml

# Logs
npm-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
