<div class="container">
    <div class="row">
        <div class="col-md-12 my-4">
            <h1>About</h1>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <img src="../../assets/images/14.svg" class="d-block w-100 ">
            </div>
            <div class="col-md-6">
                <h2>Who am I?</h2>
                <p>Hello! I’m Namrata Yadav, a 23-year-old graduate of Beni-Suef University with a Bachelor’s degree
                    in Computer Science. I’m passionate about developing engaging and user-friendly applications,
                    turning creative designs into functional websites and software solutions. I’m dedicated to
                    continuously improving my skills and staying updated with the latest industry trends.
                </p>
            </div>
            <h2>Why Me?</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4  ">
            <div class="card">
                <img src="../../assets/images/15.svg" class="icons mx-auto">          
                <h5 class="fw-bolder mx-auto ">Full-Stack Developer</h5>
                <p class="fs-6 text-center my-3 color-gray">Passionate about developing robust APIs, database structures, and backend systems, leveraging .NET technologies to build efficient applications.</p>
            </div>
        </div>
        <div class="col-md-4  ">
            <div class="card ">
                <img src="../../assets/images/16.svg" class="icons mx-auto">          
                <h5 class="fw-bolder mx-auto ">Attention to details</h5>
                <p class="fs-6 text-center my-3 color-gray">I focus on writing clean and efficient code, ensuring every aspect of backend logic works flawlessly to deliver a reliable experience.</p>
            </div>
        </div>
        <div class="col-md-4  ">
            <div class="card ">
                <img src="../../assets/images/17.svg" class="icons mx-auto">          
                <h5 class="fw-bolder mx-auto ">Continuous learning</h5>
                <p class="fs-6 text-center my-3 color-gray mx-2">I dedicated to learning and stay updated with the latest backend development trends, tools, and best practices, especially in the .NET ecosystem.</p>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4  ">
            <div class="card ">
                <img src="../../assets/images/18.svg" class="icons mx-auto">          
                <h5 class="fw-bolder mx-auto ">Responsive design</h5>
                <p class="fs-6 text-center my-3 color-gray">I specialize in developing websites that seamlessly adapt across diverse screen sizes and devices.</p>
            </div>
        </div>
    </div>
</div>