<div class="container mt-5">
    <h1 class="text-center mb-5">Skills</h1>
  
    <div class="row">
      <!-- Backend Section -->
      <div class="col-md-4 mb-4">
        <div class="skill-card">
          <h2 class="text-center">Backend Development</h2>
          <div class="skill-icon">
            <i class="fas fa-server fa-3x"></i>
          </div>
          <ul class="skill-list" *ngFor="let skill of backendskills">
            <li>{{skill.name}}</li>
          </ul>
        </div>
      </div>
  
      <!-- Frontend Section -->
      <div class="col-md-4 mb-4">
        <div class="skill-card">
          <h2 class="text-center">Frontend Development</h2>
          <div class="skill-icon">
            <i class="fas fa-code fa-3x"></i>
          </div>
          <ul class="skill-list" *ngFor="let skill of frontendskills">
            <li>{{skill.name}}</li>
          </ul>
        </div>
      </div>
  
      <!-- Version Control Section -->
      <div class="col-md-4 mb-4">
        <div class="skill-card">
          <h2 class="text-center">Version Control</h2>
          <div class="skill-icon">
            <i class="fas fa-code-branch fa-3x"></i>
          </div>
          <ul class="skill-list" *ngFor="let skill of VersionControlSkills ">
            <li>{{skill.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
