<div class="container">
    <div class="row">
        <div class="col-md-12 my-4">
            <h1>Projects</h1>
        </div>
    <div class="row g-4">
        <div class="col-sm-3">
            <div class="project-card">
              <a href="https://mobilepe.co.in/" class="card-link">
                <div class="card-content">
                  <h3>MobilePe</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-card">
              <a href="https://sgcareindia.com/" class="card-link">
                <div class="card-content">
                  <h3>Sg Care</h3>
                </div>
              </a>
            </div>
          </div>
      <div class="col-sm-3">
        <div class="project-card" style="background-image: url('/../../assets/images/19.png');opacity: 0.9;">
          <a href="https://sgsquare.in/" class="card-link">
            <div class="card-content">
              <h3>Sg Square</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="project-card">
          <a href="https://topay.live/" class="card-link">
            <div class="card-content">
              <h3>ToPay</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="project-card">
          <a href="https://karyon.organic/" class="card-link">
            <div class="card-content">
              <h3>Karyon Organic </h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="project-card">
          <a href="#" class="card-link">
            <div class="card-content">
              <h3>DVMS</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="project-card">
          <a href="#" class="card-link">
            <div class="card-content">
              <h3>Namaninfra City</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>