<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class =" home-head ">Namrata Yadav</h2>
            <a>Hi, I'm a Passionate .NET Developer with a strong foundation in C#, ASP.NET Core, and SQL.
                Eager to collaborate with experts, contribute to success, and enhance abilities.</a>
                <p></p>
                <p></p>

                  <button class="btn mx-2 btn my-2">Download CV &nbsp;<i class="fa fa-download"></i></button>
                  <button class="btn mx-3 btn my-2">Let's Connect &nbsp;<i class="fa fa-phone"></i></button>

        </div>
        <div class="col-md-6">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner images">
                  <div class="carousel-item active">
                    <img src="../../assets/images/1.png" class="d-block w-100" alt="Slide 1">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/2.png" class="d-block w-100" alt="Slide 2">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/3.png" class="d-block w-100" alt="Slide 3">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/4.png" class="d-block w-100" alt="Slide 4">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/5.png" class="d-block w-100" alt="Slide 5">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/6.png" class="d-block w-100" alt="Slide 6">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/7.png" class="d-block w-100" alt="Slide 7">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/8.png" class="d-block w-100" alt="Slide 8">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/9.png" class="d-block w-100" alt="Slide 9">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/10.png" class="d-block w-100" alt="Slide 10">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/11.png" class="d-block w-100" alt="Slide 11">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/12.png" class="d-block w-100" alt="Slide 12">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
              </div>
              

        </div>
    </div>
</div>